{% extends "base.html" %}{% load staticfiles %}
{% load crispy_forms_tags %}


{% block css %}

{{ block.super }}
<link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block javascript %}

{{ block.super }}

<script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script>
    $(document).ready(function() {

        $('.footable').footable();

    });
</script>

<script type="text/javascript">
  $('select').select2();
</script>

{% endblock %}

{% block content %}

{% endblock %}