{% extends "base.html" %}{% load staticfiles %}
{% load crispy_forms_tags %}

{% block css %}

{{ block.super }}
<link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}

{{ block.super }}

<script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>

<script>
    $(document).ready(function() {

        $('.footable').footable({
          "columns": [{
            "filterable": false
          }]
        });

    });

</script>

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Driver List</h5>
        </div>
        <div class="ibox-content">
          <input type="text" class="form-control input-sm m-b-xs" id="filter"
                 placeholder="Search Drivers">
          <table class="footable table table-stripped toggle-arrow-tiny"
            data-page-size="15" data-filter=#filter>
            <thead>
              <tr>
                <th data-toggle="true">Driver Name</th>
                <th data-filterable="false">Designation</th>
                <th>Phone #</th>
                <th>WeChat ID</th>
                <th>Delivery Info</th>
              </tr>
            </thead>
            <tbody>
              {% for driver in drivers %}
              <tr>
                <td>{{driver.full_name}}{%if driver.nick_name%}({{driver.nick_name}}){%endif%}</td>
                <td>{{driver.designation.designation}}</td>
                <td>{{driver.phone_number}}</td>
                <td>{{driver.wechat_id}}</td>
                <td>
                  <button class="btn btn-primary btn-xs" type="button" data-toggle="modal" data-target="#{{driver.id}}">Details</button>
                </td>


              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <ul class="pagination pull-right"></ul>
                </td>
            </tr>
            </tfoot>
          </table>
        </div>
        {% for driver in drivers %}
        <div id="{{driver.id}}" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <h4 class="modal-title">Delivery Details:</h4>

              <div class="modal-body">
                <h5>Restrictions:</h5>
                <p>{{driver.delivery_restrictions}}</p>

                <h5>Areas Served</h5>
                {% for areas in driver.delivery_areas.all %}<p>{{areas}}: {{areas.region_names}}</p>{% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>

{% endblock %}
