{% extends "base-no-nav.html" %}{% load staticfiles i18n %}<!DOCTYPE html>
{% load crispy_forms_tags %}

  {% block content %}
  <center>
    <h1 class="logo-name">ICEMAN</h1>
  </center>
    <div class="middle-box text-center loginscreen animated fadeInDown">
      <div>
        <h3>Welcome to ICEMAN</h3>
        <p>Please use your supplied login details. If you were not provided with any,
          please request from the HR or IT.
        </p>

        <form class="login m-t" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="primaryAction btn btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>
        </form>
      </div>
    </div>
  {% endblock content %}
